@import url("bootstrap.css");
#frm{
    size: 100px;
    line-height: 40px;
    font-size: 20px;
    font-style: inherit;
    padding-top: 10px;
    height: 350px;
    text-align: center;
    color: aliceblue;
    background-size: cover;
    /* background-image: url("./images/sunset.jpg"); */
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/06/16/ea/90/explorer-kenya-safari.jpg");
}
body{
    background-color: black;
    color: aliceblue;
} 
#Akan{
    text-align: center;
    background-color: rgb(89, 146, 168);
}
#right{
    font-size: 50px;
    font-style: inherit;
    padding-top: 270px;
    height: 350px;
    text-align: center;
    color: rgb(201, 212, 46);
    background-size: cover;
    background-color: rgb(72, 110, 72);;
    background-image: url("https://netstorage-yen.akamaized.net/images/3o3bpd1spbvpcden9o.jpg?imwidth=900");
}
form input{
    line-height: 25px;
    width: 150px;
}
form input[type="radio"]{
width: 40px;
}
input{
    size: 40px;
}
#results{
    padding-right: 10px;
}