@import url("bootstrap.css");
#frm{
    font-size: 20px;
    font-style: inherit;
    padding-top: 50px;
    height: 350px;
    text-align: center;
    color: aliceblue;
    background-size: cover;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/06/16/ea/90/explorer-kenya-safari.jpg");
}
body{
    background-color: black;
    color: aliceblue;
} 
#Akan{
    text-align: center;
    background-color: rgb(89, 146, 168);
}
#right{
    font-size: 20px;
    font-style: inherit;
    padding-top: 50px;
    height: 350px;
    text-align: center;
    color: aliceblue;
    background-size: cover;
    background-color: rgb(144, 184, 144);;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq9IKVDtdRJfs7ZY0kkKBJ3ivG4K2f6bcQX87H1QAzweSDy_ekZg&s"); */
}