@import url("bootstrap.css");
#frm{
    padding-top: 100px;
    height: 300px;
    text-align: center;
    color: aliceblue;
    background-size: cover;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/06/16/ea/90/explorer-kenya-safari.jpg");
}
body{
    background-color: black;
    color: aliceblue;
} 
#Akan{
    text-align: center;
    background-color: rgb(89, 146, 168);
    text-emphasis-color: black;
}
